services:
  postgres:
    container_name: postgres
    image: postgres:17
    ports:
      - "5432:5432"
    env_file:
      - .env
    volumes:
      - data:/var/lib/postgresql/data

volumes:
  data:
